# Gemini 分析模型配置
GEMINI_ANALYZE_API_KEY=sk-WmNgdudXOtNekmfHorsS2CjBizDFIGo9615WCoH4z4xhtyIG
GEMINI_ANALYZE_BASE_URL=https://www.ggwk1.online
GEMINI_ANALYZE_MODEL=gemini-3.1-flash-lite-preview

# Gemini 图片生成模型配置
GEMINI_IMAGE_API_KEY=
GEMINI_IMAGE_BASE_URL=https://yunwu.ai
GEMINI_IMAGE_MODEL=gemini-3-pro-image-preview

# RunningHub 标准模型 API 配置（Seedream 系列）
RUNNINGHUB_API_KEY=768393d7c6b2466882f80a7068e7dc8d
RUNNINGHUB_BASE_URL=https://www.runninghub.cn

# 服务配置
PORT=8000
HOST=0.0.0.0
